<% layout('/layouts/default.html', {title: 'dmp_mqtt_gd_2023管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(dmpMqttGd2023.isNewRecord ? '新增dmp_mqtt_gd_2023' : '编辑dmp_mqtt_gd_2023')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${dmpMqttGd2023}" action="${ctx}/dmp/dmpMqttGd2023/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('终端编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="terminalCode" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('电表编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="meterCode" maxlength="12" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('发送时间')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ts" readonly="true" maxlength="20" class="form-control laydate"
									dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('正向有功总电能')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ep" maxlength="10" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('反向有功总电能')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="erp" maxlength="10" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('正向无功总电能')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="eqi" maxlength="10" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('反向无功总电能')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="erqi" maxlength="10" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('A相电压')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ua" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('B相电压')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ub" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('C相电压')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="uc" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('A相电流')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ia" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('B相电流')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ib" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('C相电流')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="ic" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总有功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="p" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('A相有功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pa" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('B相有功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pb" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('C相有功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pc" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总无功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="q" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('A相无功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qa" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('B相无功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qb" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('C相无功功率')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="qc" maxlength="6" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('总功率因数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pf" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('A相功率因数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pfa" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('B相功率因数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pfb" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('C相功率因数')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pfc" maxlength="4" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('处理标识')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mark" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('dmp:dmpMqttGd2023:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>