<% layout('/layouts/default.html', {title: '终端表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('终端表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('ems:emsTerminal:edit')){ %>
					<a href="${ctx}/ems/emsTerminal/form" class="btn btn-default btnTool" title="${text('新增终端表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${emsTerminal}" action="${ctx}/ems/emsTerminal/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('终端名称')}：</label>
					<div class="control-inline">
						<#form:input path="terminalName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('终端类型')}：</label>
					<div class="control-inline">
						<#form:input path="terminalType" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('品牌型号')}：</label>
					<div class="control-inline">
						<#form:input path="brandModel" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('SIM卡号')}：</label>
					<div class="control-inline">
						<#form:input path="terminalSim" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('上行通讯')}：</label>
					<div class="control-inline">
						<#form:input path="uplink" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('下行通讯')}：</label>
					<div class="control-inline">
						<#form:input path="downlink" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运营商')}：</label>
					<div class="control-inline">
						<#form:input path="mobileOperator" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('套餐类型')}：</label>
					<div class="control-inline">
						<#form:input path="mobileType" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('套餐资费')}：</label>
					<div class="control-inline">
						<#form:input path="mobileExpenses" maxlength="6" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('开通时间')}：</label>
					<div class="control-inline">
						<#form:input path="startDate" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('到期时间')}：</label>
					<div class="control-inline">
						<#form:input path="endDate" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control isQuick"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("终端名称")}', name:'terminalName', index:'a.terminal_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ems/emsTerminal/form?terminalCode='+row.terminalCode+'" class="btnList" data-title="${text("编辑终端表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("终端类型")}', name:'terminalType', index:'a.terminal_type', width:150, align:"left"},
		{header:'${text("品牌型号")}', name:'brandModel', index:'a.brand_model', width:150, align:"left"},
		{header:'${text("SIM卡号")}', name:'terminalSim', index:'a.terminal_sim', width:150, align:"left"},
		{header:'${text("上行通讯")}', name:'uplink', index:'a.uplink', width:150, align:"left"},
		{header:'${text("下行通讯")}', name:'downlink', index:'a.downlink', width:150, align:"left"},
		{header:'${text("运营商")}', name:'mobileOperator', index:'a.mobile_operator', width:150, align:"left"},
		{header:'${text("套餐类型")}', name:'mobileType', index:'a.mobile_type', width:150, align:"left"},
		{header:'${text("套餐资费")}', name:'mobileExpenses', index:'a.mobile_expenses', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("开通时间")}', name:'startDate', index:'a.start_date', width:150, align:"center"},
		{header:'${text("到期时间")}', name:'endDate', index:'a.end_date', width:150, align:"center"},
		{header:'${text("状态")}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text("未知")}', true);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('ems:emsTerminal:edit')){ %>
				actions.push('<a href="${ctx}/ems/emsTerminal/form?terminalCode='+row.terminalCode+'" class="btnList" title="${text("编辑终端表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/ems/emsTerminal/delete?terminalCode='+row.terminalCode+'" class="btnList" title="${text("删除终端表")}" data-confirm="${text("确认要删除该终端表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>