<% layout('/layouts/default.html', {title: '峰平谷设备运行时长表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('峰平谷设备运行时长表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('ems:emsTimeShareDeviceRuntime:edit')){ %>
					<a href="${ctx}/ems/emsTimeShareDeviceRuntime/form" class="btn btn-default btnTool" title="${text('新增峰平谷设备运行时长表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${emsTimeShareDeviceRuntime}" action="${ctx}/ems/emsTimeShareDeviceRuntime/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('设备ID')}：</label>
					<div class="control-inline">
						<#form:input path="deviceId" maxlength="32" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('设备名称')}：</label>
					<div class="control-inline">
						<#form:input path="deviceName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据日期， 2023-03-24')}：</label>
					<div class="control-inline">
						<#form:input path="dataDate" readonly="true" maxlength="20" class="form-control laydate width-datetime"
							dataFormat="datetime" data-type="datetime" data-format="yyyy-MM-dd HH:mm"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('数据类型')}：</label>
					<div class="control-inline">
						<#form:input path="dataType" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('空载-总')}：</label>
					<div class="control-inline">
						<#form:input path="totalNoLoad" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('停机-总')}：</label>
					<div class="control-inline">
						<#form:input path="totalStop" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行-总')}：</label>
					<div class="control-inline">
						<#form:input path="totalRunning" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('空载-尖')}：</label>
					<div class="control-inline">
						<#form:input path="cuspNoLoadTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('停机-尖')}：</label>
					<div class="control-inline">
						<#form:input path="cuspStopTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行-尖')}：</label>
					<div class="control-inline">
						<#form:input path="cuspRunningTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('空载-峰')}：</label>
					<div class="control-inline">
						<#form:input path="peakNoLoadTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('停机-峰')}：</label>
					<div class="control-inline">
						<#form:input path="peakStopTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行-峰')}：</label>
					<div class="control-inline">
						<#form:input path="peakRunningTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('空载-平')}：</label>
					<div class="control-inline">
						<#form:input path="fairNoLoadTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('停机-平')}：</label>
					<div class="control-inline">
						<#form:input path="fairStopTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行-平')}：</label>
					<div class="control-inline">
						<#form:input path="fairRunningTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('空载-谷')}：</label>
					<div class="control-inline">
						<#form:input path="valleyNoLoadTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('停机-谷')}：</label>
					<div class="control-inline">
						<#form:input path="valleyStopTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('运行-谷')}：</label>
					<div class="control-inline">
						<#form:input path="valleyRunningTime" maxlength="12" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("设备ID")}', name:'deviceId', index:'a.device_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/ems/emsTimeShareDeviceRuntime/form?id='+row.id+'" class="btnList" data-title="${text("编辑峰平谷设备运行时长表")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("设备名称")}', name:'deviceName', index:'a.device_name', width:150, align:"left"},
		{header:'${text("数据日期， 2023-03-24")}', name:'dataDate', index:'a.data_date', width:150, align:"center"},
		{header:'${text("数据类型")}', name:'dataType', index:'a.data_type', width:150, align:"left"},
		{header:'${text("空载-总")}', name:'totalNoLoad', index:'a.total_no_load', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("停机-总")}', name:'totalStop', index:'a.total_stop', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("运行-总")}', name:'totalRunning', index:'a.total_running', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("空载-尖")}', name:'cuspNoLoadTime', index:'a.cusp_no_load_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("停机-尖")}', name:'cuspStopTime', index:'a.cusp_stop_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("运行-尖")}', name:'cuspRunningTime', index:'a.cusp_running_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("空载-峰")}', name:'peakNoLoadTime', index:'a.peak_no_load_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("停机-峰")}', name:'peakStopTime', index:'a.peak_stop_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("运行-峰")}', name:'peakRunningTime', index:'a.peak_running_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("空载-平")}', name:'fairNoLoadTime', index:'a.fair_no_load_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("停机-平")}', name:'fairStopTime', index:'a.fair_stop_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("运行-平")}', name:'fairRunningTime', index:'a.fair_running_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("空载-谷")}', name:'valleyNoLoadTime', index:'a.valley_no_load_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("停机-谷")}', name:'valleyStopTime', index:'a.valley_stop_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("运行-谷")}', name:'valleyRunningTime', index:'a.valley_running_time', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text("更新时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		{header:'${text("备注信息")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('ems:emsTimeShareDeviceRuntime:edit')){ %>
				actions.push('<a href="${ctx}/ems/emsTimeShareDeviceRuntime/form?id='+row.id+'" class="btnList" title="${text("编辑峰平谷设备运行时长表")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/ems/emsTimeShareDeviceRuntime/delete?id='+row.id+'" class="btnList" title="${text("删除峰平谷设备运行时长表")}" data-confirm="${text("确认要删除该峰平谷设备运行时长表吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>